<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baozi.mappers.IndustryConsultancyMapper" >
  <resultMap id="BaseResultMap" type="com.baozi.po.IndustryConsultancy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="display" property="display" jdbcType="BIT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="publicTime" property="publictime" jdbcType="TIMESTAMP" />
    <result column="lastModifyTime" property="lastmodifytime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="shareNumber" property="sharenumber" jdbcType="INTEGER" />
    <result column="lookNumber" property="looknumber" jdbcType="INTEGER" />
    <result column="sourceImg" property="sourceimg" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="carouselPosition" property="carouselposition" jdbcType="VARCHAR" />
    <result column="hot" property="hot" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.baozi.po.IndustryConsultancy" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, display, createTime, publicTime, lastModifyTime, status, major, remark, 
    category, source, shareNumber, lookNumber, sourceImg, description, carouselPosition, 
    hot
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.baozi.po.IndustryConsultancyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from industry_consultancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baozi.po.IndustryConsultancyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from industry_consultancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from industry_consultancy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from industry_consultancy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.baozi.po.IndustryConsultancyExample" >
    delete from industry_consultancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baozi.po.IndustryConsultancy" >
    insert into industry_consultancy (id, title, display, 
      createTime, publicTime, lastModifyTime, 
      status, major, remark, 
      category, source, shareNumber, 
      lookNumber, sourceImg, description, 
      carouselPosition, hot, content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{display,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{publictime,jdbcType=TIMESTAMP}, #{lastmodifytime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{major,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{category,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{sharenumber,jdbcType=INTEGER}, 
      #{looknumber,jdbcType=INTEGER}, #{sourceimg,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{carouselposition,jdbcType=VARCHAR}, #{hot,jdbcType=BIT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baozi.po.IndustryConsultancy" >
    insert into industry_consultancy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="publictime != null" >
        publicTime,
      </if>
      <if test="lastmodifytime != null" >
        lastModifyTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="sharenumber != null" >
        shareNumber,
      </if>
      <if test="looknumber != null" >
        lookNumber,
      </if>
      <if test="sourceimg != null" >
        sourceImg,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="carouselposition != null" >
        carouselPosition,
      </if>
      <if test="hot != null" >
        hot,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="display != null" >
        #{display,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="publictime != null" >
        #{publictime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null" >
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="sharenumber != null" >
        #{sharenumber,jdbcType=INTEGER},
      </if>
      <if test="looknumber != null" >
        #{looknumber,jdbcType=INTEGER},
      </if>
      <if test="sourceimg != null" >
        #{sourceimg,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="carouselposition != null" >
        #{carouselposition,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=BIT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baozi.po.IndustryConsultancyExample" resultType="java.lang.Integer" >
    select count(*) from industry_consultancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update industry_consultancy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.display != null" >
        display = #{record.display,jdbcType=BIT},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.publictime != null" >
        publicTime = #{record.publictime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastmodifytime != null" >
        lastModifyTime = #{record.lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.sharenumber != null" >
        shareNumber = #{record.sharenumber,jdbcType=INTEGER},
      </if>
      <if test="record.looknumber != null" >
        lookNumber = #{record.looknumber,jdbcType=INTEGER},
      </if>
      <if test="record.sourceimg != null" >
        sourceImg = #{record.sourceimg,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.carouselposition != null" >
        carouselPosition = #{record.carouselposition,jdbcType=VARCHAR},
      </if>
      <if test="record.hot != null" >
        hot = #{record.hot,jdbcType=BIT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update industry_consultancy
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      display = #{record.display,jdbcType=BIT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      publicTime = #{record.publictime,jdbcType=TIMESTAMP},
      lastModifyTime = #{record.lastmodifytime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      major = #{record.major,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      shareNumber = #{record.sharenumber,jdbcType=INTEGER},
      lookNumber = #{record.looknumber,jdbcType=INTEGER},
      sourceImg = #{record.sourceimg,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      carouselPosition = #{record.carouselposition,jdbcType=VARCHAR},
      hot = #{record.hot,jdbcType=BIT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update industry_consultancy
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      display = #{record.display,jdbcType=BIT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      publicTime = #{record.publictime,jdbcType=TIMESTAMP},
      lastModifyTime = #{record.lastmodifytime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      major = #{record.major,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      shareNumber = #{record.sharenumber,jdbcType=INTEGER},
      lookNumber = #{record.looknumber,jdbcType=INTEGER},
      sourceImg = #{record.sourceimg,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      carouselPosition = #{record.carouselposition,jdbcType=VARCHAR},
      hot = #{record.hot,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baozi.po.IndustryConsultancy" >
    update industry_consultancy
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="display != null" >
        display = #{display,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="publictime != null" >
        publicTime = #{publictime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null" >
        lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="sharenumber != null" >
        shareNumber = #{sharenumber,jdbcType=INTEGER},
      </if>
      <if test="looknumber != null" >
        lookNumber = #{looknumber,jdbcType=INTEGER},
      </if>
      <if test="sourceimg != null" >
        sourceImg = #{sourceimg,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="carouselposition != null" >
        carouselPosition = #{carouselposition,jdbcType=VARCHAR},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=BIT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baozi.po.IndustryConsultancy" >
    update industry_consultancy
    set title = #{title,jdbcType=VARCHAR},
      display = #{display,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      publicTime = #{publictime,jdbcType=TIMESTAMP},
      lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      major = #{major,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      shareNumber = #{sharenumber,jdbcType=INTEGER},
      lookNumber = #{looknumber,jdbcType=INTEGER},
      sourceImg = #{sourceimg,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      carouselPosition = #{carouselposition,jdbcType=VARCHAR},
      hot = #{hot,jdbcType=BIT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baozi.po.IndustryConsultancy" >
    update industry_consultancy
    set title = #{title,jdbcType=VARCHAR},
      display = #{display,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      publicTime = #{publictime,jdbcType=TIMESTAMP},
      lastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      major = #{major,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      shareNumber = #{sharenumber,jdbcType=INTEGER},
      lookNumber = #{looknumber,jdbcType=INTEGER},
      sourceImg = #{sourceimg,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      carouselPosition = #{carouselposition,jdbcType=VARCHAR},
      hot = #{hot,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findIndustryConsultancyTopLimit" resultType="com.baozi.vo.IndustryConsultancyViewVo" parameterType="java.lang.Integer">
    select * from industry_consultancy where display=1 and `status`=1 order by publicTime desc limit #{limit}
  </select>

  <select id="findIndustryConsultancyPage" resultType="com.baozi.vo.IndustryConsultancyVo" parameterType="map">
    select i.*,c.`name`,c.link from industry_consultancy i LEFT JOIN industry_consultancy_category c on i.category=c.id
    <where>
      i.display=1
      <if test="title!=null and title!='' ">
        and i.title like CONCAT('%', #{title}, '%')
      </if>
      <if test="category!=null and category!=-1 ">
        and i.category = #{category}
      </if>
    </where>
    order by i.status,i.lastModifyTime desc
  </select>

  <delete id="deleteIndusSingleOrBatch" parameterType="java.util.List">
    update industry_consultancy set display = 0
    where id in
    <foreach item="id" collection="list" open="(" close=")" separator=",">
    #{id}
    </foreach>
  </delete>

  <select id="footerPagination" resultType="com.baozi.vo.IndustryConsultancyViewVo" >
    select i.*,c.`name`,c.link from industry_consultancy i LEFT JOIN industry_consultancy_category c on i.category=c.id
    where i.display=1 and `status`=1
    order by i.publicTime desc
  </select>

  <update id="updateIndustryConsultancyLookNum" parameterType="java.lang.Integer" >
    update industry_consultancy set lookNumber = lookNumber+1 where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>