<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baozi.mappers.SysLinkMapper" >
  <resultMap id="BaseResultMap" type="com.baozi.po.SysLink" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="domainName" property="domainName" jdbcType="VARCHAR" />
    <result column="domainUrl" property="domainUrl" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="show" property="show" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="display" property="display" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, logo, domainName, domainUrl, contact, show, createtime, display, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baozi.po.SysLinkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_link
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_link
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.baozi.po.SysLinkExample" >
    delete from sys_link
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baozi.po.SysLink" >
    insert into sys_link (id, logo, domainName,
      domainUrl, contact, show,
      createtime, display, status
      )
    values (#{id,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{domainName,jdbcType=VARCHAR}, 
      #{domainUrl,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{show,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{display,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baozi.po.SysLink" >
    insert into sys_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="domainName != null" >
        domainName,
      </if>
      <if test="domainUrl != null" >
        domainUrl,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="show != null" >
        show,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="domainName != null" >
        #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="domainUrl != null" >
        #{domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="show != null" >
        #{show,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="display != null" >
        #{display,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baozi.po.SysLinkExample" resultType="java.lang.Integer" >
    select count(*) from sys_link
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_link
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.domainName != null" >
        domainName = #{record.domainName,jdbcType=VARCHAR},
      </if>
      <if test="record.domainUrl != null" >
        domainUrl = #{record.domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.contact != null" >
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.show != null" >
        show = #{record.show,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.display != null" >
        display = #{record.display,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_link
    set id = #{record.id,jdbcType=INTEGER},
      logo = #{record.logo,jdbcType=VARCHAR},
      domainName = #{record.domainName,jdbcType=VARCHAR},
      domainUrl = #{record.domainUrl,jdbcType=VARCHAR},
      contact = #{record.contact,jdbcType=VARCHAR},
      show = #{record.show,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      display = #{record.display,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baozi.po.SysLink" >
    update sys_link
    <set >
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="domainName != null" >
        domainName = #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="domainUrl != null" >
        domainUrl = #{domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="show != null" >
        show = #{show,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="display != null" >
        display = #{display,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baozi.po.SysLink" >
    update sys_link
    set logo = #{logo,jdbcType=VARCHAR},
      domainName = #{domainName,jdbcType=VARCHAR},
      domainUrl = #{domainUrl,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      show = #{show,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      display = #{display,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findSysLinkPage" resultType="com.baozi.vo.SysLinkVo" parameterType="map">
    select * from sys_link s
    <where>
      s.display=1
      <if test="domainName!=null and domainName!='' ">
        and s.domainName like CONCAT('%', #{domainName}, '%')
      </if>
      <if test="starttime!=null and starttime!='' ">
        <![CDATA[ and s.createtime >= #{starttime} ]]>
      </if>
      <if test="endtime!=null and endtime!='' ">
        <![CDATA[ and s.createtime <= #{endtime} ]]>
      </if>
    </where>
    order by s.status,s.createtime desc
  </select>

  <delete id="deleteSysLinkSingleOrBatch" parameterType="java.util.List">
    update sys_link set display = 0
    where id in
    <foreach item="id" collection="list" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>
</mapper>