<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baozi.mappers.SysSettingMapper" >
  <resultMap id="BaseResultMap" type="com.baozi.po.SysSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="current_version" property="currentVersion" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="domain_url" property="domainUrl" jdbcType="VARCHAR" />
    <result column="server_config" property="serverConfig" jdbcType="VARCHAR" />
    <result column="database_version" property="databaseVersion" jdbcType="VARCHAR" />
    <result column="max_file" property="maxFile" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, current_version, author, domain_url, server_config, database_version, max_file, 
    createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baozi.po.SysSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.baozi.po.SysSettingExample" >
    delete from sys_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baozi.po.SysSetting" >
    insert into sys_setting (id, current_version, author, 
      domain_url, server_config, database_version, 
      max_file, createtime)
    values (#{id,jdbcType=INTEGER}, #{currentVersion,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{domainUrl,jdbcType=VARCHAR}, #{serverConfig,jdbcType=VARCHAR}, #{databaseVersion,jdbcType=VARCHAR}, 
      #{maxFile,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baozi.po.SysSetting" >
    insert into sys_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="currentVersion != null" >
        current_version,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="domainUrl != null" >
        domain_url,
      </if>
      <if test="serverConfig != null" >
        server_config,
      </if>
      <if test="databaseVersion != null" >
        database_version,
      </if>
      <if test="maxFile != null" >
        max_file,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="currentVersion != null" >
        #{currentVersion,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="domainUrl != null" >
        #{domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="serverConfig != null" >
        #{serverConfig,jdbcType=VARCHAR},
      </if>
      <if test="databaseVersion != null" >
        #{databaseVersion,jdbcType=VARCHAR},
      </if>
      <if test="maxFile != null" >
        #{maxFile,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baozi.po.SysSettingExample" resultType="java.lang.Integer" >
    select count(*) from sys_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.currentVersion != null" >
        current_version = #{record.currentVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.domainUrl != null" >
        domain_url = #{record.domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.serverConfig != null" >
        server_config = #{record.serverConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.databaseVersion != null" >
        database_version = #{record.databaseVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.maxFile != null" >
        max_file = #{record.maxFile,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_setting
    set id = #{record.id,jdbcType=INTEGER},
      current_version = #{record.currentVersion,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      domain_url = #{record.domainUrl,jdbcType=VARCHAR},
      server_config = #{record.serverConfig,jdbcType=VARCHAR},
      database_version = #{record.databaseVersion,jdbcType=VARCHAR},
      max_file = #{record.maxFile,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baozi.po.SysSetting" >
    update sys_setting
    <set >
      <if test="currentVersion != null" >
        current_version = #{currentVersion,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="domainUrl != null" >
        domain_url = #{domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="serverConfig != null" >
        server_config = #{serverConfig,jdbcType=VARCHAR},
      </if>
      <if test="databaseVersion != null" >
        database_version = #{databaseVersion,jdbcType=VARCHAR},
      </if>
      <if test="maxFile != null" >
        max_file = #{maxFile,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baozi.po.SysSetting" >
    update sys_setting
    set current_version = #{currentVersion,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      domain_url = #{domainUrl,jdbcType=VARCHAR},
      server_config = #{serverConfig,jdbcType=VARCHAR},
      database_version = #{databaseVersion,jdbcType=VARCHAR},
      max_file = #{maxFile,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>