<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeCat-蓝胖子了解一下（线下交易）</title>
    <link rel="stylesheet" href="/resource/css/vue.css">
</head>
<body>
<div id="app">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
        <p>Try Element</p>
    </el-dialog>
</div>
</body>
<script src="/resource/js/vue/vue.js"></script>
<script src="/resource/js/vue/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        }
    })
</script>
</html>