<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeCat-蓝胖子了解一下（线下交易）</title>
    <link rel="shortcut icon" href="/resource/images/favicon.ico" />
    <link rel="stylesheet" href="/resource/css/assets/css/amazeui.css" />
    <link rel="stylesheet" href="/resource/css/assets/css/common.min.css" />
    <link rel="stylesheet" href="/resource/css/assets/css/index.min.css" />
</head>
<body>
<div class="layout">
    <!--===========layout-header================-->
    <div class="layout-header am-hide-sm-only">
        <!--topbar start-->
        <div class="topbar">
            <div class="container">
                <div class="am-g">
                    <div class="am-u-md-3">
                        <div class="topbar-left">
                            <i class="am-icon-globe"></i>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle>Language <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">Chinese</a></li>
                                    <li class="am-divider"></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-md-9">
                        <div class="topbar-right am-text-right am-fr">
                            <a href="html/login.html">登录</a>
                            <a href="html/register.html">注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--topbar end-->


        <div class="header-box" data-am-sticky>
            <!--header start-->
            <div class="container">
                <div class="header">
                    <div class="am-g">
                        <div class="am-u-lg-2 am-u-sm-12">
                            <div class="logo">
                                <a href="#"><img src="/resource/images/logo.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="am-u-md-10">
                            <div class="header-right am-fr">
                                <div class="header-contact">
                                    <div class="header_contacts--item">
                                        <div class="contact_mini">
                                            <i style="color:#7c6aa6" class="contact-icon am-icon-phone"></i>
                                            <strong>18811359094 17611597978</strong>
                                            <span>周六~周日, 8:00 - 20:00</span>
                                        </div>
                                    </div>
                                    <div class="header_contacts--item">
                                        <div class="contact_mini">
                                            <i style="color:#7c6aa6" class="contact-icon am-icon-envelope-o"></i>
                                            <strong>zhangwenjunp@126.com</strong>
                                            <span>看猫随时欢迎您的来信！</span>
                                        </div>
                                    </div>
                                    <div class="header_contacts--item">
                                        <div class="contact_mini">
                                            <i style="color:#7c6aa6" class="contact-icon am-icon-map-marker"></i>
                                            <strong>离职待业在家</strong>
                                            <span>北京市昌平区</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="html/contact.html" class="contact-btn">
                                    <button type="button" class="am-btn am-btn-secondary am-radius">联系站长</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header end-->


            <!--nav start-->
            <div class="nav-contain">
                <div class="nav-inner">
                    <ul class="am-nav am-nav-pills am-nav-justify">
                        <li class=""><a href="#">首页</a></li>
                        <li>
                            <a href="#">在售宠物</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">英国短毛猫</a></li>
                                <li class="menu-item"><a href="#">亚洲豹猫</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">新闻咨询</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="#">大事记</a></li>
                                <li class="menu-item"><a href="#">平台公告</a></li>
                                <li class="menu-item"><a href="#">文章趣事</a></li>
                            </ul>
                        </li>
                        <li><a href="#">关于站长</a></li>
                        <li><a href="#">加入BeCat</a></li>
                        <li><a href="#">联系站长</a></li>
                    </ul>
                </div>
            </div>
            <!--nav end-->
        </div>
    </div>

    <!--mobile header start-->
    <div class="m-header">
        <div class="am-g am-show-sm-only">
            <div class="am-u-sm-2">
                <div class="menu-bars">
                    <a href="#doc-oc-demo1" data-am-offcanvas="{effect: 'push'}"><i class="am-menu-toggle-icon am-icon-bars"></i></a>
                    <!-- 侧边栏内容 -->
                    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas >
                        <a href="javascript: void(0)" class="am-menu-toggle"></a>

                        <div class="am-offcanvas" >
                            <div class="am-offcanvas-bar">
                                <ul class="am-menu-nav am-avg-sm-1">
                                    <li><a href="#" class="" >首页</a></li>
                                    <li class="am-parent">
                                        <a href="#" class="" >在售宠物</a>
                                        <ul class="am-menu-sub am-collapse ">
                                            <li class="">
                                                <a href="#" class="" >英国短毛猫</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="" >亚洲豹猫</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="am-parent">
                                        <a href="#" class="" >新闻咨询</a>
                                        <ul class="am-menu-sub am-collapse  ">
                                            <li class="">
                                                <a href="#" class="" >大事记</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="" >平台公告</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="" >文章趣事</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=""><a href="#" class="" >关于站长</a></li>
                                    <li class=""><a href="#" class="" >加入BeCat</a></li>
                                    <li class=""><a href="#" class="" >联系站长</a></li>
                                    <li class="am-parent">
                                        <a href="#" class="nav-icon nav-icon-globe" >Language</a>
                                        <ul class="am-menu-sub am-collapse  ">
                                            <li>
                                                <a href="#" >English</a>
                                            </li>
                                            <li class="">
                                                <a href="#" >Chinese</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=""><a href="#" class="" >登录</a></li>
                                    <li class=""><a href="#" class="" >注册</a></li>
                                </ul>

                            </div>
                        </div>
                    </nav>

                </div>
            </div>
            <div class="am-u-sm-5 am-u-end">
                <div class="m-logo">
                    <a href="#"><img src="/resource/images/logo.png" alt=""></a>
                </div>
            </div>
        </div>
        <!--mobile header end-->
    </div>




    <!--===========layout-container================-->
    <div class="layout-container">
        <div class="index-page">
            <div data-am-widget="tabs" class="am-tabs am-tabs-default">
                <div class="am-tabs-bd">
                    <div data-tab-panel-0 class="am-tab-panel am-active">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">英国短毛猫</h1>
                                            <p class="slide_simple--text am-text-left">
                                                英国短毛猫，体形圆胖，四肢粗短发达，毛短而密，头大脸圆，温柔平静，对人友善，极易饲养。大而圆的眼睛根据被毛不同而呈现各种颜色。
                                                作为一个古老的猫品种，其历史可追溯至古罗马时期的家猫，由于拥有悠久的育种历史，可以称得上是猫家族中的典范。英国短毛猫除了拥有固定而聚，
                                                代表性的遗传特征之外，又具有丰富的变异性，如背毛色眼睛颜色等。更重要的是，有了广泛的配种历史后，这种猫拥有了更健康的身体和更温驯的性格。
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-1 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">亚洲豹猫</h1>
                                            <p class="slide_simple--text am-text-left">
                                                豹猫（学名：Prionailurus bengalensis）：是产于亚洲的猫科动物。豹猫的体型与家猫大致相仿，但各亚种的差别比较大，例如印度尼西亚的亚种平均体长45厘米，尾长20厘米，
                                                而西伯利亚的亚种体长则达到60厘米，尾长40厘米。豹猫的毛皮也有很多种颜色：南方的豹猫为黄色，北方的则为银灰色。胸部及腹部是白色。豹猫的斑点一般为黑色。
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-2 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">雪橇三傻-哈士奇</h1>
                                            <p class="slide_simple--text am-text-left">
                                                西伯利亚雪橇犬（俄语：Сибирский хаски，英语：Siberian husky），常见别名哈士奇，昵称为二哈。西伯利亚雪橇犬体重介于雄犬20-27公斤，雌犬16-23公斤，身高大约雄犬肩高53-58厘米，雌犬51-56厘米，是一种中型犬。
                                                西伯利亚雪橇犬是原始的古老犬种，在西伯利亚东北部、格陵兰南部生活。哈士奇名字的由来，是源自其独特的嘶哑声。哈士奇性格多变，有的极端胆小，也有的极端暴力，进入大陆和家庭的哈士奇，都已经没有了这种极端的性格，比较温顺，
                                                是一种流行于全球的宠物犬。与金毛犬、拉布拉多并列为三大无攻击型犬类。被世界各地广泛饲养，并在全球范围内，有大量该犬种的赛事。
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-3 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">雪橇三傻-阿拉斯加</h1>
                                            <p class="slide_simple--text am-text-left">
                                                阿拉斯加雪橇犬结实、有力、肌肉发达而且胸很深。当它们站立时，头部竖直，眼神显得警惕、好奇，给人的感觉是充满活力而且非常傲娇。头部宽阔，耳朵呈三角形，警惕状态时保持竖立。口吻大，宽度从根部向鼻尖渐收，口吻既不显得长而突出，也不显得粗短。
                                                被毛浓密，披毛有足够的长度以保护内层柔软的底毛。阿拉斯加雪橇犬有各种不同的颜色，如灰、黑白、红棕。
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="am-tabs-nav am-cf index-tab">
                    <li class="am-active">
                        <a href="[data-tab-panel-0] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-camera"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">英国短毛猫</strong>
                                <p class="promo_slider_nav--item_description">可爱的蓝胖子</p>
                            </div>
                        </a>
                    </li>
                    <li class="a">
                        <a href="[data-tab-panel-1] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-camera"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">亚洲豹猫</strong>
                                <p class="promo_slider_nav--item_description">脾气有点暴躁，野性勃勃</p>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-2] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-camera"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">雪橇三傻-哈士奇</strong>
                                <p class="promo_slider_nav--item_description">打架打不过，吵架没输过</p>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-3] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-camera"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">哈雪橇三傻-阿拉斯加</strong>
                                <p class="promo_slider_nav--item_description">壮壮的很结实的身体</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <div class="section">
        <div class="container">
            <div class="section--header">
                <h2 class="section--title">为什么选择BeCat</h2>
                <p class="section--description">
                    同比现在市面上很多宠物店，包括各大出售宠物网站，BeCat本着诚信经营，顾客第一的宗旨，价格也是最良心的。
                    <br>猫咪也是一条生命，既然各位铲屎官选择了养猫，那么就请好好照顾他们，给他们一个温暖的家。
                </p>
            </div>

            <!--index-container start-->
            <div class="index-container">
                <div class="am-g">
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="/resource/images/index/f01.jpg" alt="">
                            <h3 class="features_item--title">美拍一</h3>
                            <p class="features_item--text">
                                即将出门旅行的蓝胖子
                            </p>
                        </div>
                    </div>
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="/resource/images/index/f02.jpg" alt="">
                            <h3 class="features_item--title">美拍二</h3>
                            <p class="features_item--text">
                                慵懒的躺在沙发椅上晒太阳
                            </p>
                        </div>
                    </div>
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="/resource/images/index/f03.jpg" alt="">
                            <h3 class="features_item--title">美拍三</h3>
                            <p class="features_item--text">
                                慵懒的躺在沙发椅上晒太阳
                        </div>
                    </div>
                    <div class="am-u-md-3">
                        <div class="features_item">
                            <img src="/resource/images/index/f04.jpg" alt="">
                            <h3 class="features_item--title">美拍四</h3>
                            <p class="features_item--text">
                                吃绿萝的蓝胖子
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--index-container end-->
        </div>
    </div>
</div>

<div class="section"  style="border-bottom: 1px solid #e9e9e9;">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">BeCat服务</h2>
            <p class="section--description">
                站长郑重承诺：北京的铲屎官可以自行联系站长，到站长家挑选猫，看中即可带走，外地的铲屎官我会提供录制的视屏供你们选择猫咪，同样，猫咪的飞机票站长也可以给包哦。
                <br>福利送不停，订购猫咪前三人，站长均会赠送猫咪三针疫苗，行动了吗赶快行动联系站长。
            </p>
        </div>

        <!--index-container start-->
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-diamond"></i>
                        <h3 class="service_item--title">简单</h3>
                        <div class="service_item--text">
                            <p>官网www.becat.shop，APP+PC随时随地挑选你喜欢的猫。</p>
                        </div>
                    </div>
                </div>

                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-user"></i>
                        <h3 class="service_item--title">高效</h3>
                        <div class="service_item--text">
                            <p>高效回复，分分钟撸猫。</p>
                        </div>
                    </div>
                </div>

                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-umbrella"></i>
                        <h3 class="service_item--title">质量</h3>
                        <div class="service_item--text">
                            <p>每一个蓝胖子都是精心培育，都是健康的。</p>
                        </div>
                    </div>
                </div>

                <div class="am-u-md-3">
                    <div class="service_item">
                        <i class="service_item--icon am-icon-briefcase"></i>
                        <h3 class="service_item--title">承诺</h3>
                        <div class="service_item--text">
                            <p>承诺：包三针，北京市本市自取，外市可包机票。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--index-container end-->
    </div>
</div>

<div class="section promo_banner-container">
    <!--index-container start-->
    <div class="promo_banner-box">
        <div class="container">
            <h2 class="promo_banner--title">期待您的光临</h2>
            <p class="promo_banner--text">
                如果您或者您身边的好友有想养猫的，可以推荐BeCat，合作愉快哦。
        </div>
    </div>
    <!--index-container end-->
</div>


<div class="section" style="margin-top:0px;background-image: url('/resource/images/pattern-light.png');">
    <div class="container">
        <!--index-container start-->
        <div class="index-container">
            <div class="am-g">
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-phone"></i>
                        <strong class="contact_card--title">联系站长</strong>
                        <p class="contact_card--text">认准站长唯一联系方式<br> <strong>18811359094 17611597978</strong> <br> 周六~周日 8:00-20:00</p>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-envelope-o"></i>
                        <strong class="contact_card--title">站长邮箱</strong>
                        <p class="contact_card--text">认准站长唯一邮箱<br> <strong><a href="mailto:zhangwejunp@126.com">zhangwejunp@126.com</a>,</strong></p>
                    </div>
                </div>
                <div class="am-u-md-4">
                    <div class="contact_card">
                        <i style="color:#59bcdb" class="contact_card--icon am-icon-map-marker"></i>
                        <strong class="contact_card--title">站长QQ、WeChat</strong>
                        <p class="contact_card--text"><strong>QQ：971886506</strong><br><strong>WeChat：zwj971886506</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <!--index-container end-->
    </div>
</div>




<!--===========layout-footer================-->
<div class="layout-footer">
    <div class="footer">
        <div style="background-color:#383d61" class="footer--bg"></div>
        <div class="footer--inner">
            <div class="container">
                <div class="footer_main">
                    <div class="am-g">
                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">关于BeCat</strong>
                                <div class="footer_about">
                                    <p class="footer_about--text">
                                        BeCat成立于2018-05-15日，一直以来也是站长自己在开发维护，还是蛮辛苦的哈哈。有时候忙，回复的不及时还请大家见谅哈。
                                    </p>
                                    <p class="footer_about--text">
                                        BeCat宗旨：诚信经营、顾客为上
                                    </p>
                                    <p class="footer_about--text">
                                        京ICP备18011239号
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">在售宠物</strong>
                                <ul class="footer_navigation">
                                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">英国短毛猫</a></li>
                                    <li class="footer_navigation--item"><a href="#" class="footer_navigation--link">亚洲豹猫</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">友情链接</strong>
                                <ul class="footer_navigation">
                                    <li class="footer_navigation--item"><a href="https://github.com/wenjunzhangp" target="_blank" class="footer_navigation--link">站长GitHub</a></li>
                                    <li class="footer_navigation--item"><a href="https://www.sojson.com" target="_blank" class="footer_navigation--link">SoJson工具站</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">联系详情</strong>
                                <ul class="footer_contact_info">
                                    <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>服务专线：18811359094 17611597978</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-envelope-o"></i><span>zhangwenjunp@126.com</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-map-marker"></i><span>北京市昌平区</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-clock-o"></i><span>周六~周日, 8am - 8 pm; </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resource/js/jquery/jquery-2.1.0.js" charset="utf-8"></script>
<script src="/resource/js/amazeui/amazeui.js" charset="utf-8"></script>
<script src="/resource/js/amazeui/common.js" charset="utf-8"></script>
</body>
</html>
